a:link{
  text-decoration: none;
  color:white;
}

a:visited{
  text-decoration: none;
  color:white;
}

body{
  color: white;
  background-color: black;
}

header{
  padding: 15px;
  background-color: #5b7989;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-flow: row;

}

header h1{
  text-align: left;
  text-shadow: 2px 2px #02010a;

}

div.caja1{
  width: 50%;
  padding-top: 10px;
}

div.caja2{
  word-spacing: 30px;
  width: 50%;
  text-align: right;
  padding-top: 40px;
}

#fotoprincipal{
  background-color: #82c3a6;
  text-align: center;
  min-height:200px;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;

}

#fotoprincipal img{
  width:95%;
}

#fotosecundaria{
  background-color:  #d5c75f;
  display: flex;
  flex-flow: row;
  min-height: 200px;
  margin-left:5%;
  margin-right:5%;

}

#fotosecundaria img{
  flex-basis:30%;
  border:1px;
}
