body{
  color: white;
  background-color: black;
}

header{
  padding: 15px;
  background-color: #5b7989;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-flow: row;
}

header a{
color:white;
text-decoration: none;
}

header h1{
  text-align: left;
  text-shadow: 2px 2px #02010a;

}

div.caja1{
  width: 50%;
  padding-top: 10px;
}

div.caja2{
  word-spacing: 30px;
  width: 50%;
  text-align: right;
  padding-top: 40px;
}

#fotoprincipal{
  background-color: #82c3a6;
  text-align: center;
  min-height:200px;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;

}

#fotoprincipal img{
  width:80%;
}

#fotosecundaria{
  background-color: #d5c75f;
  display: flex;
  flex-flow: row;
  min-height: 200px;
  margin-left: 5%;
  margin-right: 5%;
}

#fotosecundaria a{
text-decoration: underline;
color:black;
}

#fotosecundaria figure{
  text-align: center;
  flex-basis:50%;
}

#fotosecundaria figure>a>img{
  width:100%;
  max-height:250px;
  border:1px;
  text-align: center;

}

#foto2{
  transform: rotate(0deg);
  -webkit-transition: transform 2s;
}

#foto2:hover{
  transform: rotate(10deg);
  transition-duration: 2s;

}

#foto3{
  transform: translate(0px,0px);
  -webkit-transition: transform 2s;
}

#foto3:hover{
  transform: translate(20px,-5px);
  transition-duration: 2s;
}
